.contacts {
    padding: 120px 0 90px 0;
    &__wrapper {
        padding: 0 35px 0 52px;
        display: grid;
        grid-template-columns: 400px 585px;
        justify-content: space-between;
    }
    &__photo {
        img {
            width: 100%;
        }
    }
    &__descr {
        padding-top: 6px;
        .divider {
            margin: 4px 0px 0px 0px;
        }
    }
    &__title {
        position: relative;
        padding:1px 0 0 12px;

        @include befor_circle
    }
    &__text, &__social {
        margin-top: 20px;
    }
    &__link {
        margin-right: 25px;
        img {
            max-width: 30px;
            max-height: 30px;
        }
    }
    &__form {
        
        margin-top: 30px;
        display: grid;
        grid-template: 45px 190px 45px / repeat(2, 280px);
        justify-content: space-between;
        row-gap: 25px;
        label {
            transition: 0.6s all;
            display: block;
            position: absolute;
            height: 18px;
            padding: 0 8px 0 8px;
            background-color: #fff;
            font-size: 12px;
            margin-bottom: 0;
            top: -9px;
            left: 12px;
        }
        .error {
            border: 1px solid red;
        }
        label.error {
            padding: 0;
            position: absolute;
            top: 46px;
            display: block;
            color: #000;
            border: none;
        }
    }
    &__triggers {
        grid-column: 1 / 3;
        display: grid;
        grid-template-columns: repeat(2, auto);
        column-gap: 35px;
    }
    &__policy {
        position: relative;
        font-size: 12px;
        line-height: 14px;
        display: flex;
        align-items: center;
        input {
            margin-right: 10px;
        }
    }
    &__input {
        position: relative;
        input {
            transition: 0.6s all;
            width: 100%;
            height: 100%;
            padding: 0 20px 0 20px;
            font-size: 12px;
            font-weight: 500;
            border: 2px solid $main-color; 
            border-radius: 5px;
            background-color: #fff;
        }
        
    }
    &__textarea {
        position: relative;
        grid-column: 1 / 3;
        margin-top: 10px;
        textarea {
            transition: 0.6s all;
            width: 100%;
            height: 180px;
            resize: none;
            font-size: 12px;
            padding: 20px;
            border: 2px solid $main-color;
            border-radius: 5px;
            background-color: #fff;
        }
    }
    &__btn {
        font-weight: bold;
        font-size: 14px;
        line-height: 21px;
        background: #fff;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
        &:hover {
            background-color: $main-color;
            color: #fff;
        }
    }
    
}