header {
    width: 100%;
    position: fixed;
    top: 0;
    height: 72px;
    background-color: rgba(0, 0, 0, 0.4);
    padding-top: 25px;
    z-index: 10;
    
    .menu {
        width: 1140px;
        margin: 0 auto;
        &__block {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
        nav {
            padding-right: 50px;
            width: 90%;
        }
        
        &__list {
            list-style-type: none;
            display: flex;
            justify-content: space-between;
           
        }
        &__link {
            text-transform: uppercase;
            position: relative;
            font-weight: bold;
            font-size: 15px;
            transition: all 0.6s;
            
            a {
                display: block;
                width: 100%;
                color: #ffffff;
                &:hover {
                    color: $main-color;
                    text-decoration: none;
                }
            }
        }
        &__close {
            display: none;
        }
        &__social {
            display: none;
        }
        &__change {
            display: flex;
            justify-content: space-between;
            padding-right: 50px;
            &-themetoggle {
                
                padding-right: 10px;
                transition: 0.6s all;
                span {
                    
                    transition: 0.6s all;
                    color: #fff;
                    &:hover {
                        color: grey;
                    }
                }
            }
            select {
                appearance: none;
                border: 0;
                outline: 0;
                
                font: inherit;
                width: 60px;
                height: 20px;
                padding-left: 10px;
                background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg)
                    no-repeat right 5px center / 20px;
                color: white;
                border-radius: 4px;
                box-shadow: 0 0 1em 0 rgba(0, 0, 0, 0.2);
                cursor: pointer;
                option {
                  color: $main-color;
                  background-color: #fff;
                }
                &:focus {
                  outline: none;
                }
                &::-ms-expand {
                  display: none;
                }
              }
              
            
        }
    }
    
}


