.portfolio {
    padding-top: 120px;
    &__wrapper {
        justify-content: center;
        margin-top: 60px;
        display: grid;
        grid-template: repeat(2, 280px) / repeat(2, 280px);
        grid-auto-rows: 280px;
        gap: 5px;
        /* .vertical {
            grid-row: 1 / 3;
            grid-column: 4 / 5;
        } */
        .horizontal {
            grid-row: 2 / 3;
            grid-column: 1 / 3;
        }
    }
    &__item {
        transition: 0.6s all;
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
        &:hover {
            transform: scale(1.05);
            box-shadow: 0 0 25px $main-color;
        }
    }
    
}