.sidepanel {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 380px;
    z-index: 3;
    
    &__divider {
        width: 2px;
        height: 70px;
        background-color: $main-color;
    }
    &__text {
        height: 150px;
        width: 25px;
        color: $main-color;
        span {
            transform: rotate(-90deg) translate(-30%,-260%);
            display: block;
            width: 150px;
        }
    }
    &__link {
        svg path {
            transition: 0.6s all;
        }
        &:hover {
            svg path {
                fill: grey;
                
            }
        }
    }
    
}